<div class="page-form-container container">

    <h1>Create new article</h1>

    <%= render "form", article: @article%>
    <div class="back-to-page-container">
        <%= link_to "[Back to article list]", articles_path %>
    </div>
</div>