<div class="page-form-container container">

    <h1>Edit user</h1>

    <%= render "form", user: @user %>
    <div class="back-to-page-container">
        <%= link_to "[Back to home page]", root_path %>
    </div>
</div>