<div class="detail-page">
    <div class="articles-container">
        <div class="header">
            <h1>
                <%= @user.username %>'s profile
            </h1>

            <%= gravatar_for @user, size: 200 %>

        </div>

        <h2 class="text-center">
            Articles
        </h2>


        <%= render "partials/articles", @aritlces %>
    </div>
</div>