body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 72px;
}

.navbar {
  background-color: black;

  .nav-link {
    color: white;
  }

  .navbar-brand {
    color: white;
    text-transform: uppercase;
  }
}

.jumbo {
  background-image: url("../../assets/images/banner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
