// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.detail-page {
  text-align: center;
  padding: 50px 0;

  .header {
    position: relative;

    .create-button {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

@media (min-width: 768px) {
  .articles-container {
    margin: 0 25%;
  }
}

@media (max-width: 768px) {
  .articles-container {
    margin: 0 10%;
  }
}

.page-form-container {
  height: 100%;
  max-width: 700px;
  margin: 50px auto;
}

.back-to-page-container {
  margin-top: 30px;
  text-align: center;
}

.detail-page-container {
  height: 100%;
  max-width: 700px;
  margin: 50px auto;
  text-align: center;
}
