<div class="page-form-container container">

    <h1>Update category name</h1>

    <div class="container">
        <%= render "form" %>
    </div>
    <div class="back-to-page-container">
        <%= link_to "[Back to home page]", root_path %>
    </div>
</div>